<div class="top-banner">
    <p class="heading">EXPERIENCE THE MAGIC</p>
    <button class="shop-now">SHOP NOW</button>
</div>

<div class="white-space">
    <p class="heading"><span class="red">N</span>EW <span class="red">C</span>OLLECTION</p>
    <button class="shop-now">SHOP NOW</button>
</div>

<div class="third-baner">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="img-box"></div>
            <p>New Item</p>
        </div>

        <div class="col-md-3 col-sm-3">
            <div class="img-box"></div>
            <p>New Item</p>
        </div>

        <div class="col-md-3 col-sm-3">
            <div class="img-box"></div>
            <p>New Item</p>
        </div>

        <div class="col-md-3 col-sm-3">
            <div class="img-box"></div>
            <p>New Item</p>
        </div>
    </div>

    <button class="shop-now">SHOP NOW</button>
</div>

<p class="style-me">STYLE ME PRETTY</p>

<div class="container-fluid fourth-baner">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="style-box"></div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="img-box"></div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="img-box"></div>
                </div>
            </div>

            <button class="shop-now">GLANCE UP ALL THE STYLES</button>
        </div>
    </div>
</div>

<div class="video-section">
    <video src="" type="mp4/mpeg"></video>
</div>

<p class="style-me style-finder">STYLE <span>Finder</span></p>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="img-box style-finder-box"></div>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="img-box style-finder-box"></div>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="img-box style-finder-box"></div>
        </div>
    </div>
    <button class="shop-now match-me">MATCH ME</button>
</div>