<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="footer-links">
                    <p><strong>Company</strong></p>
                    <a href="#">About StyleStudio by SAJ</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Returns & Cancellations</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="footer-links">
                    <p><strong>Assistance</strong></p>
                    <a href="#">Shipping & Delivery</a>
                    <a href="#">Returns & Cancellations</a>
                    <a href="#">Account</a>
                    <a href="#">FAQ's</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="footer-links">
                    <p><strong>Contact Us</strong></p>
                    <a href="#">Email us</a>
                    <a href="#">WhatsApp Us</a>
                    <a href="#">DM Us</a>
                </div>
            </div>
        </div>
    </div>
</footer>